@font-face {
    font-family: 'Geist_Light';
    src: url(Geist-Light.woff2);
}

@font-face {
    font-family: 'Geist_Regular';
    src: url(Geist-Regular.woff2);
}

.header{
    height: 105px;
    background-color: rgb(237,239,241);
    top: 0;
    right: 0;
    left: 0;
    border: solid;
    border-width: 2px;
    border-color: rgba(165,166,167,170);
    border-top: none;
    border-right: none;
    border-left: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
}

.primary-logo{
    width: 430px;
}

.big_logo{
    display: flex;
    flex: 3;
    align-items: center;
    padding-left: 50px;
    padding-top: 7px;
}

.mid-sec{
    display: flex;
    flex: 2;
}

.right-sec{
    display: flex;
    justify-content: space-between;
    flex: 4;
    align-items: center;
    font-size: 40px;
    padding-right: 30px;

}

.hamburger-menu{
    display: none;
}

.sidebar{
    display: none;
}

.b{
    font-family: Geist_Regular;
    text-decoration: none;
    color: rgb(26,26,26);
    font-size: 20px;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 18px;
    border: none;
    margin-left: 2px;
    background-color: rgb(237,239,241);
    transition: background-color 0.2s,
    letter-spacing 0.1s, margin-left 0.1s;
    
}

.b:hover{
    background-color: rgb(227, 227, 227);
    box-shadow: 0px 0px 4cap rgb(227, 227, 227);
}

.b:active{
    opacity: 0.8;
    letter-spacing: 1px;
    margin-left: 0px;
}

.b1{
    font-family: Geist_Regular;
    text-decoration: none;
    color: rgb(26,26,26);
    font-size: 20px;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 18px;
    border: none;
    background-color: rgb(237,239,241);
    transition: background-color 0.2s,
    letter-spacing 0.1s;
    
}

.b1:hover{
    background-color: rgb(227, 227, 227);
    box-shadow: 0px 0px 4cap rgb(227, 227, 227);
}

.b1:active{
    opacity: 0.8;
    letter-spacing: 1px;
}

.b2{
    font-family: Geist_Regular;
    white-space: nowrap;
    text-decoration: none;
    color: rgb(26,26,26);
    font-size: 20px;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 18px;
    border: solid;
    border-color: rgb(26,26,26);
    border-radius: 25px;
    border-width: 2px;
    background-color: rgb(237,239,241);
    transition: background-color 0.2s,
    padding-right 0.2s, padding-left 0.2s;
}

.b2:hover{
    background-color: rgb(227, 227, 227);
    box-shadow: 0px 0px 4cap rgb(227, 227, 227);
}

.b2:active{
    opacity: 0.8;
    padding-right: 7px;
    padding-left: 29px;
}