*::after, *::before {
    box-sizing: border-box;
}

:root {
        --bar-width: 60px;
        --bar-height: 8px;
        --hamburger-gap: 6px;
        --hamburger-margin: 35px;
        --foreground: #434343;
        --background: white;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + 
        var(--hamburger-gap) * 2);
    }

@media only screen and (max-width: 1260px){
 

.hamburger-menu{
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: 35px;
    right:35px;
    z-index: 3;
    cursor: pointer;
}

.hamburger-menu.hamburger-menu:has(input:checked) { 
    --foreground: white;
    --background: #333;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 999px;
    transform-origin: left center ;
    transition: opacity var(--animation-timing), width
    var(--animation-timing), rotate var(--animation-timing),
    translate var(--animation-timing),  background-color var(--animation-timing);
}

.hamburger-menu input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before{
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after{
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked{
    opacity: 0;
    width: 0;
}

.sidebar{
    transition: translate var(--animation-timing);
    translate: 100%;
    display: none;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    max-width: 13rem;
    min-height: 100vh;
}

.hamburger-menu:has(input:checked) + .sidebar{
    translate: 0;
    display: flex;
}
}


.sidebar-element{
    display: inline-block;
    height: auto;
    width: auto;
    margin-bottom: 25px;
    font-family: Geist_Regular;
    text-decoration: none;
    color: rgb(26,26,26);
    font-size: 20px;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 18px;
    border: none;
    background-color: rgb(237,239,241);
    box-shadow: 0px 0px 8px rgb(237,239,241);
}

.sb{
    text-decoration: none;
    color: rgb(26,26,26);
}
