html{
  scroll-behavior: smooth;
}

#PRO{
  scroll-margin-top: 40px;
}

#CAREER{
  scroll-margin-top: 90px;
}

#TECH{
  scroll-margin-top: 110px;
}

body{
  margin: 0; 
  padding: 0; 
  position: relative;  
  background-color: white;
  padding-bottom: 30px;
}

.grid1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 930px;
    background-color: rgb(237,239,241);
    width: 100%;
    position: relative;
}

.grid2{
  display: grid;
  grid-template-rows: 2fr 3fr;
  height: 775px;
  position: relative;
  z-index: 1;
}

.textbox1{
    position: absolute; 
    height: 925px;
}

.small-txt{
  font-family: Geist_Regular; 
  font-size: 25px;
  letter-spacing: 11px;
  margin-bottom: 0px;
}

.txt1{
    padding-left: 50px;
    padding-top: 120px;
    font-family: Geist_Light;
    font-size: 23px;
    letter-spacing: 1.3px;
}

.txt2{
  font-family: Geist_Regular;
  font-size: 34px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.txt3{
  font-family: Geist_Regular;
  font-size: 34px;
  margin-bottom: 15px;
  margin-top: 23px;
}

.spine-box{
  padding-right: 40px;
  position: absolute;
  right: 0;
  height: 925px;
  z-index: 0;
}

.spine{
    height: 1200px;
    display: flex;
    padding-top: 60px;
}

.back{
  background-color: white;
  width: 100%;
  height: 500px;
  position: relative;
}

.learn-more-button
      {
        color: rgb(237,239,241);
        display: block;
        height: auto;
        width: 160px;
        font-family: Geist_Light;
        text-decoration: none;
        font-size: 22px;
        background-color: rgb(26,26,26);
        border: none;
        border-radius: 25px;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 22px;
        padding-right: 18px;
        transition: all 0.2s;
        margin-top: 30px;
      }

      .learn-more-button:hover
      {
        opacity: 0.9;
        padding-right: 20px;
        padding-left: 20px;
        margin-right: 0px;
      }

      .learn-more-button:active{
        opacity: 0.6;
      }

      .pro{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        padding-top: 100px;
      }

      .AboutUs{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: 5%;
        justify-content: center;
        padding-top: 50px;
      }

      .grey-block{
        aspect-ratio: 1/1;
        max-width: 90%;
        background-color: rgb(237,239,241);
        border: none;
        border-radius: 55px;
        position: relative;
      }

      .big-txt{
        margin-top: 5%;
        margin-left: 5%;
        font-family: Geist_Regular;
        font-size: 65px;
        letter-spacing: -1px;
      }

      .para{
        font-family: Geist_Light;
        font-size: 33px;
      }

      .b-ser{
        display: block;
        width: 220px;
        margin-bottom: 5%;
        font-family: Geist_Light;
        color: black;
        text-decoration: none;
        font-size: 27px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 6px;
        padding-bottom: 6px;
        border: solid;
        border-color: rgb(26, 26, 26);
        border-radius: 27px;
        transition: all 0.2s;
      }

      .b-ser:hover{
        background-color: rgb(255, 255, 255);
        padding-left: 25px;
        padding-right: 25px;
      }

      .b-ser:active{
        background-color: rgb(26, 26, 26);
        color: white;
      }

      .para1{
        padding-left: 6%;
        padding-top: 3%;
        font-family: Geist_Light;
        font-size: 33px;
      }

      .big-txt_1{
        position: absolute;
        bottom: 0;
        right: 5%;
        font-family: Geist_Regular;
        font-size: 65px;
        letter-spacing: -1px;
      }

      .service{
        display: block;
        margin-left: 100px;
        width: 80%;
        padding-top: 130px;
      }

      .waterfall{
        font-family: Geist_Light;
        font-size: 35px;
        margin-left: 100px;
        padding-top: 35px;
      }

      .pill{
        font-family: Geist_Regular; 
        font-size: 45px;
        letter-spacing: 11px;
        margin-top: 45px;
        margin-left: 100px;
      }

      .pillars{
        display: grid;
        grid-template-rows: 150px 150x 150px;
        justify-content: space-evenly;
        padding-top: 20px;
        justify-items: center;
      }

      .tabs{
        background-color: rgb(237,239,241);
        display: flex;
        flex-direction: row;
        max-width: 95%;
        min-width: 600px;
        height: 400px;
        border-radius: 60px;
        margin-bottom: 50px;
      }

      .tabs_2{
        background-image: url(grad.png);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        max-width: 95%;
        min-width: 600px;
        height: 400px;
        border-radius: 60px;
        margin-bottom: 50px;
      }

      .number{
        font-family: Geist_Light;
        background: none;
        font-size: 33px;
        height: 60px;
        width: 60px;
        border: solid;
        border-radius: 50%;
        border-width: 2px;
        margin-top: 25px;
        margin-left: 25px;
        position: absolute;
      }

      .title_pill{
        flex: 1; 
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: -2px;
        font-size: 60px; 
        font-family: Geist_Regular; 
      }

      .txt_pill{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 2; 
        font-size: 25px; 
        margin-right: 0px; 
        font-family: Geist_Light;
      }

      .career{
        font-family: Geist_Regular;
        font-size: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .career-grid{
        display: grid; 
        grid-template-columns: 1fr 10% 2fr; 
        margin-top: 30px;
      }

      .career-text{
        font-size: 33px; 
        font-family: Geist_Light;
        margin-left: 100px;
      }

      .career-text2{
        font-size: 33px; 
        margin-right: 17px;
        font-family: Geist_Light;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .job1{
        background-color: rgb(237,239,241);
        color: black;
        text-decoration: none;
        border-radius: 25px;
        margin-left: 15%;
        transition: all 0.2s;
      }

      .job1:hover{
        background-color: rgb(218, 218, 218);
      }
/* 
      .job1:active{
        background-color: rgb(227, 227, 227)
      } */

      .job2{
        background-color: rgb(237,239,241);
        border-radius: 25px;
        color: black;
        text-decoration: none;
        transition: all 0.2s;
      }

      .job2:hover{
        background-color: rgb(218, 218, 218);
      }

      .job3{
        background-color: rgb(237,239,241);
        border-radius: 25px;
        margin-right: 15%;
        color: black;
        text-decoration: none;
        transition: all 0.2s;
      }

      .job3:hover{
        background-color: rgb(218, 218, 218);
      }

      .j-title{
        font-family: Geist_Regular;
        padding-left: 25px;
        margin-top: 25px;
        font-size: 35px;
      }

      .j-ex{
        font-family: Geist_Light;
        font-size: 17px;
        color: rgb(118, 118, 118);
        padding-left: 25px;
      }

      .j-ex1{
        font-family: Geist_Light;
        font-size: 17px;
        color: rgb(118, 118, 118);
        padding-left: 25px;
        padding-top: 45px;
      }

      .j-ex2{
        font-family: Geist_Light;
        font-size: 17px;
        color: rgb(118, 118, 118);
        padding-left: 25px;
      }

      .tech{
        font-family: Geist_Regular;
        font-size: 75px;
        margin-left: 70px;
        margin-top: 100px;
        letter-spacing: -1px;
      }

      .tech-list{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-top: 30px; 
        column-gap: 80px; 
        row-gap: 40px;
        margin-left: 70px;
        margin-right: 70px;
      }

      .typ{
        background-color:rgb(237,239,241);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        border-radius: 15px;
      }

      .logo{
        height: 50px;
        width: auto;
      }

      .logo-2{
        height: 70px;
        width: auto;
      }

      .logo-3{
        height: 100px;
        width: auto;
      }

      .logo-4{
        height: 110px;
        width: auto;
      }

      .logo-oracle{
        height: 30px;
        width: auto;
      }

      .line{
        width: 100%;
        height: 0;
        border: solid;
        border-width: 1px;
        border-color: rgb(92,91,91);
        margin-top: 100px;
      }

      .contact
      {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 80px;
      }

      .end-b{
        font-family: Geist_Light;
        color: black;
        text-decoration: none;
        font-size: 20px;
        background: none;
        border: none;
        border-radius: 10px;
        padding: 4px 8px;
        margin-bottom: 12px;
        letter-spacing: 0.5px;
        transition: background-color 0.2s,
        box-shadow 0.2s;
      }

      .end-b:hover{
        background-color: rgb(237, 237, 237);
        box-shadow: 0px 0px 4cap rgb(227, 227, 227);
      }

      .middle{
        flex-direction: row;
        justify-items: center;
      }

      .right{
        font-family: Geist_Light;
        text-align: right;
        font-size: 17px;
        justify-items: end;
        letter-spacing: 0.5px;
      }

      .small-logo{
        height: 100px;
        width: auto;
      }

      .RR{
        font-family: Geist_Light;
        font-size: 14px;
        color: rgb(118, 118, 118);
        margin-top: 120px;
        text-align: center;
      }



      

